/* src/components/WebcamCapture.module.css */

.webcamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin: auto; 
  position: relative;
  max-width: 90vw;
} 


.webcam {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.capturedImg {
  width: 100%;
  height: auto;
  object-fit: contain;
  /* 调整图片样式以使其响应式 */
}


.btn-group {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.btn {
  margin: 0 5px; 
}


/* 媒体查询 */
@media (max-width: 768px) {
  .webcam {
    /* 在小屏幕上调整摄像头预览的样式 */
    width: 100%;
    height: auto;
  }
  .capturedImg {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .btn-group .btn {
    padding: 5px 10px;
    font-size: 0.8rem; /* 调整移动设备上按钮的大小 */
  }
}




/* 上传的图片 */
/* 控制图片的大小和布局 */
.imageFullSize {
  max-width: 100%;  
  max-height: 80vh; 
  object-fit: contain; 
}
